.header {
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  color: var(--champagne);
  background-position: center;
  background-size: cover;
}

.header-content-wrapper {
  max-width: 1400px;
  width: 100%;
}

.header-content {
  margin-left: 4rem;
  width: min-content;
}

.header-content h1, .header-content h2, .header-content h3 {
  line-height: 1em;
}

.header-content > h1 {
  font-size: 6rem;
  text-wrap: nowrap;
}

.header-content > h3 {
  font-size: 1rem;
}

.product-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--midnight-green);
}

.product-preview > h2, .blog > h2 {
  max-width: 1400px;
  width: 100%;
  padding-left: 4rem;
  margin-block: 2rem;
}

.product-preview > h2 {
  color: var(--champagne);
  padding-left: 4rem;
}


.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--champagne);
}

.blog > h2 {
  color: var(--midnight-green);
}

.posts-wrapper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  gap: 2rem;
}