.product {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
  padding: 0.5rem 0rem;
  border-top: 1px solid lightgray;
}

.product:first-child {
  border-top: none;
}

.product-image {
  width: 50px;
}

.controls-container {
  font-size: 0.75rem;
}

.controls-container > button {
  color: var(--midnight-green);
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.controls-container > button:last-child {
  margin-left: 1rem;
}

.product-body {
  margin-right: auto;
}

.product-price::before {
  content: '$';
}

.product-count::before {
  content: 'x';
}

.product-count-input-container {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.product-count-input {
  width: 50px;
  text-align: center;
}

.product-count-button {
  background: none;
  border: none;
  will-change: transform;
  transition: transform 125ms linear;
}

.product-count-button:hover {
  transform: scale(1.25);
}

.product-count-button > img{
  width: 16px;
}


