.shopping-cart-wrapper {
  border: none;
  width: 450px;
  height: 100vh;
  max-height: 100vh;
  margin-left: auto;
  background: none;
  color: var(--midnight-green);
}

.shopping-cart-wrapper::backdrop {
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
}

.shopping-cart-wrapper[open] {
  animation: slideIn 500ms forwards;
}

.shopping-cart {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--platinum);
}

.close-button {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
}

.list-container {
  flex: 1;
  color: var(--midnight-green);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.list-container > ul {
  list-style: none;
}

.list-container.empty {
  justify-content: center;
  align-items: center;
}

.list-container.empty > span {
  text-align: center;
}

.footer {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--platinum);
}

.total-wrapper {
  display: flex;
  justify-content: space-between;
}

.total {
  display: inline-block;
  margin-left: auto;
}

.total::before {
  content: '$';
}

.checkout-btn {
  width: 100%;
  margin-block: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--vermillion);
  color: white;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}