.filter-category {
  padding: 0.5rem;
  border-top: 1px solid var(--platinum);
}

.filter-category:last-child {
  border-bottom: 1px solid var(--platinum);
}

.filter-header {
  display: flex;
}

.filter-header > svg {
  width: 20px;
  margin-left: auto;
  fill:#244855;
}

.filter-header.active > svg {
  transform: rotate(180deg);
}

.category-name {
  font-size: 1.125rem;
  position: relative;
}

.category-name > svg {
  display: inline-block;
}