@import '../vars.css';

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0rem 1rem;
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  margin-right: 1rem;
  height: 50px;
  width: 100%;
  max-width: 650px;
  padding: 0rem 2rem;
  font-size: 1.125rem;
  border: 1px solid var(--vermillion);
  border-radius: 9999px;
  background: rgba( 255, 255, 255, 0.01 );
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links > img {
  height: 80px;
}

.links > a {
  text-decoration: none;
  color: var(--vermillion);
}

.link-icon { 
  display: none; 
}

.underline-animation {
  display: inline-block;
  position: relative; 
}

.underline-animation:after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 0; 
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background-color: var(--vermillion);
  transform-origin: bottom left;
  transition: transform 125ms ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
}

.navbar-left, .navbar-right {
  flex: 1 1 auto;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.shopping-cart-wrapper {
  display: none;
}

.shopping-cart-button {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  position: relative;
  border: none;
  border-radius: 100%;
  background: none;
}

.shopping-cart-button div {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  border-radius: 9999px;
  background-color: var(--vermillion);
  color: white;
}

@media (max-width: 1000px) {
  .links > img {
    height: 75px;
  }

  .links {
    padding: 0rem 1.5rem;
  }
}

@media (max-width: 575px) {
  .navbar {
    top: auto;
    bottom: 0;
    height: 65px;
  }

  .links {
    margin-right: 0;
    justify-content: space-between;
    gap: 1rem;
    padding: 0rem 1rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    background-color: var(--vermillion);
  }

  .links > img {
    display: none;
  }

  .links > a {
    color: var(--champagne);
  }

  .link-text {
    display: none;
  }

  .link-icon { 
    display: block;
    width: 30px;
  }
  
  .shopping-cart-wrapper {
    display: inline-block;
    height: 30px;
  }

  .navbar-left, .navbar-right {
    display: none;
  }

  .shopping-cart-button {
    margin-right: 0;
  }

  .shopping-cart-button div {
    display: none;
  }
}