.product-container {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
  background-color: var(--champagne);
}

.details-container {
  color: #244855;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid var(--platinum);
}

.details-body {
  padding: 1rem
}

.flavor-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow: scroll;
}

.flavor-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.flavor-container > p {
  font-size: 0.875rem;
  padding: 0rem 0.5rem;
  text-wrap: nowrap;
  border-radius: 9999px;
  border: 1px solid #244855;
}

.product-region {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.product-name {
  font-size: 1.125rem;
}

.details-footer {
  height: 3rem;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Ultra, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.details-footer.adding {
  padding: 0rem;
  align-items: normal;
}

.product-count-input, .cart-add-button, .cart-add-to-button {
  border: none;
}

.product-count-input {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 0.5rem;
  text-align: center;
  color: var(--midnight-green);
}

.cart-add-button {
  padding: 0rem 1rem;
  border-radius: 9999px;
  border: 1px solid var(--midnight-green);
  background-color: white;
  color: var(--midnight-green);
  transition: background-color 125ms linear, color 125ms linear;
}

.cart-add-button:hover {
  background-color: var(--midnight-green);
  color: white;
}

.cart-add-to-button {
  padding: 0.25rem 2rem;
  border-bottom-right-radius: 0.5rem;
  text-wrap: nowrap;
  background-color: var(--midnight-green);
  color: white;
}