:root {
  --vermillion: #E64833;
  --gun-metal: #183039;
  --midnight-green: #244855;
  --ash-gray: #90AEAD;
  --platinum: #DEE2E6;
  --antiflash-white: #EDF2F4;
  --champagne: #FBE9D0;
  --bole: #874F41;
}